---
import PostCard from "@/components/PostCard.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { mapCollection } from "@/utils/mapCollection";
import { sortByDate } from "@/utils/sortByDate";
import { getCollection } from "astro:content";

const data = await getCollection("blog", ({ data }) => {
  return data.draft !== true || import.meta.env.MODE === "development";
});

const posts = data.map(mapCollection).sort(sortByDate);
---

<MainLayout>
  <div class="mx-auto w-full max-w-7xl text-gray-100 min-h-[calc(100vh-200px)]">
    <h1 class="text-4xl font-bold text-gray-100">Blog</h1>
    <p class="text-gray-400">Here you can find some of my posts.</p>
    <div class="grid grid-cols-3 gap-4 py-8 w-full">
      {
        posts?.map((post) => (
          <PostCard
            title={post.data.title}
            description={post.data.description}
            author={post.data.author}
            date={post.data.date}
            tags={post.data.tags ?? []}
            url={post.data.url}
            cover={post.data.cover}
            coverAlt={post.data.coverAlt}
          />
        )) ?? <div>No posts found</div>
      }
    </div>
  </div>
</MainLayout>
